<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<string>1</string>
	<key>diaryResult</key>
	<array>
		<dict>
			<key>pk</key>
			<string>33</string>
			<key>date</key>
			<date>2017-04-14T10:38:44Z</date>
			<key>title</key>
			<string>title이 들어갔습니당</string>
			<key>content</key>
			<string>content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ</string>
			<key>state</key>
			<integer>1</integer>
			<key>photo</key>
			<string>http://cfile1.uf.tistory.com/image/19272E2F4C67E49AB98D32</string>
		</dict>
	</array>
	<key>root</key>
	<dict>
		<key>count</key>
		<string></string>
		<key>diaryResult</key>
		<array>
			<dict>
				<key>pk</key>
				<string>34</string>
				<key>date</key>
				<date>2017-04-15T06:47:30Z</date>
				<key>title</key>
				<string>여기도 들어갔습니당</string>
				<key>content</key>
				<string>content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ</string>
				<key>state</key>
				<integer>0</integer>
				<key>photo</key>
				<string>http://www.desktopwallpaperhd.net/wallpapers/14/e/lake-manitoba-canada-blue-sunset-dramatic-image-backgrounds-landscape-nature-wallpaper-143742.jpg</string>
			</dict>
		</array>
	</dict>
	<key>root2</key>
	<dict>
		<key>count</key>
		<string></string>
		<key>diaryResult</key>
		<array>
			<dict>
				<key>pk</key>
				<string>35</string>
				<key>date</key>
				<date>2017-04-15T06:55:57Z</date>
				<key>title</key>
				<string>여기에도 Title이?</string>
				<key>content</key>
				<string>content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ content의 내용도 잘 들어가고 또 잘들어갔습니다.ㅎㅎㅎㅎ</string>
				<key>state</key>
				<integer>2</integer>
				<key>photo</key>
				<string>https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRGe29Q_jHXwrSJ-bTwKlVzmq8A2j88KJCx_-f7dJqtHfoeZ9ZrIg</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
